<br>
%div.center-table.span12
    %h2= "Code Trials"
    %table.table.table-striped.table-hover.center-table.span12
        %thead
            %tr
                %th="Name"
                %th="Time"
        %tbody#interviews
            - @interviews.each do |interview|
                %tr{:href => interview_path(interview)}
                    %td= ["Eddie", "Waley", "Hong", "Vikrem"].sample(1)[0]
                    %td= "hello"

:javascript
    $(document).ready(function() { 
        $("tr").click( function(event) {
            window.open($(this).attr('href'), '_self', false)
        });
    });
