%table{:class => "table table-striped table-hover"}
    %thead
        %tr
            %th="Name"
            %th="Time"
    %tbody#interviews
        - @interviews.each do |interview|
            %tr{:href => interview_path(interview)}
                %td= interview.name
                %td="hello"

:javascript
    $(document).ready(function() { 
        $("tr").click( function(event) {
            window.open($(this).attr('href'), '_self', false)
        });
    });