.container
  .row
    .span12
      .well
        %h1 PROBLEM GOES HERE
  .row
    .span8
      .well
        %textarea{autofocus: "true", id: "codearea", rows: 10, cols: 20}
          alert("hello");
        #buttons
          #start-btn.btn.btn-large.btn-success.pull-right Start
          #test-btn.btn.btn-large.btn-info.pull-right Test
          .clearfix
    .span4
      .well
        %h1 CODE STATUS
        .alert.alert-error
          %strong Error!
          Your code sucks.
          Failed on test case #8.
        
