.container
  .row
    .span12
      .well
        %h1 PROBLEM GOES HERE
  .row
    .span8
      .well
        %form.code_form{action:interviews_path, method:"post", style:"margin-bottom:0;"}
          = hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token)
          %textarea.poll-target#codearea{autofocus: "true", rows: 10, cols: 20}
            alert("hello");
          .pull-right{style: "margin-top:15px;"}
            %input.btn.btn-large.btn-warning{style: "margin-right:9px; width:70px;", value: "Test"}
            %input.btn.btn-large.btn-success{type: "submit", value: "Finish", style: "width:100px;"}
          .clearfix
    .span4
      .well
        %h1 CODE STATUS
        .alert.alert-error
          %strong Error!
          Your code sucks.
          Failed on test case #8.

