.container
  .row
    .span12
      .well
        %h1 PROBLEM GOES HERE
  .row
    .span8
      .well
        %textarea.poll-target{autofocus: "true", id: "codearea", rows: 10, cols: 20}
          alert("hello");
        .pull-right{style: "margin-top:15px;"}
          .btn.btn-large.btn-warning{style: "margin-right:9px; width:70px;"} Test
          .btn.btn-large.btn-success{type: "submit", style: "width:70px;"} Finish
        .clearfix
    .span4
      .well
        %h1 CODE STATUS
        .alert.alert-error
          %strong Error!
          Your code sucks.
          Failed on test case #8.

:javascript
  $(function() {

    /* START RECORDING KEYSTROKES */
    // Detect when to start polling
    $('.poll-target').bind('input propertychange', function() {
      if (first_time == 0) {
        start_recording();
      }
      first_time = 1;
    });

    function start_recording() { timer = setInterval(polling_text, polling_interval); }

    // Saving the polled text
    function polling_text() {
      var text = $('.poll-target').val();
      var last = log[log.length-1];
      if (text != last) {
        log.push(text);
        times.push(counter);
      }
      counter++;
    }
    
    // Replay the logged
    $('.poll-replay').click(function() {
      times.reverse();
      log.reverse();
      clearInterval(timer);
      $('.poll-target2').val('');

      var replay_text;
      var counter2=0;

      function replay() {
        $('.poll-target2').val(replay_text);
        if (times.length > 0 && counter2 == times[times.length-1]) {
          // times[times.length-1]
          times.pop();
          replay_text = log.pop();
        }
        counter2++;
      }
      setInterval(replay, polling_interval);
    });
    /* END RECORDING KEYSTROKES */

  });
