.btn {
  margin-top: 5px;
}

#flash {
  text-align: center;
}

#test-btn {
  margin-right: 5px;
}

.container {
  padding-top: 40px;
}

.btn-stylish {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.landing {
  text-align: center;
  margin: 50px;

  h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
  }
}

.clearfix {
  clear: both;
}
