// Place all the styles related to the Interview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container
{
  padding-top: 40px;
}

#videoplaceholder
{
  width: 640px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: #AAA;
}

#home {
    #desc {

    }

    #title {
        font-weight: bold;
    }

    form {
        display: inline-block;
    }
}
