.btn {
  margin-top: 5px;
}

#flash {
  text-align: center;
}

#test-btn {
  margin-right: 5px;
}

.container {
  padding-top: 40px;
}

#navbar-container {
  padding-top: 0px !important;
}

.btn-stylish {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.landing {
  color: white;
  text-shadow: 2px 2px 10px rgba(5,5,5,0.5);
  text-align: center;
  margin: 50px;

  h1 {
    font-size: 100px;
    font-weight: bold;
    margin: 30px;
  }
}

.clearfix {
  clear: both;
}