tr:hover {
  cursor: pointer;
}

#landing {
    padding-top: 185px !important;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.landing-btns {
    width: 107px !important;
}