.container
  .row
    .span8
      .well
        %h1 VIDEO GOES HERE
        #videoplaceholder
        %textarea{autofocus: "true", id: "codearea", rows: 10, cols: 20}
          alert("hello");
    .span4
      .well
        %h1 CODE STATUS
        .alert.alert-error
          %strong Error!
          Your code sucks.
          Failed on test case #8.
