.container#landing
  .row
    .span12
      - if flash[:notice]
        #flash.alert.alert-success= "#{ flash[:notice] }"
      .landing
        %h1 CODE TRIAL
        %h3 CODING INTERVIEWS DONE RIGHT
        = link_to "START", new_interview_path, { :class => "btn btn-success" }
        = link_to "EVALUATE", interviews_path, { :class => "btn btn-primary" }
